* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
    max-height: 1600px;
}

.cell {
    background-color: red;
    height: 100px;
    width: 100px;
    flex: auto;
}

.hover {
    background-color: blue;
}


